@model Marketplace.Models.ItemViewModels.BidItemViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Place a bid</h1>

<h4>Bid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Item.ItemId" class="form-control" />
            <input type="hidden" asp-for="Item.ListPrice" class="form-control" />

            <div class="form-group">
                <label asp-for="Bid.Offer" class="control-label"></label>
                <input asp-for="Bid.Offer" class="form-control" />
                <span asp-validation-for="Bid.Offer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bid.Comment" class="control-label"></label>
                <input asp-for="Bid.Comment" class="form-control" />
                <span asp-validation-for="Bid.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Bid" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

